body {
    font-size: 16px;
    font-family: 'Roboto';
    background-color: $c-gray;
    color: $c-secondary-900;
}

h1,
h2,
h3,
h4,
h5,
h6,
.subtitle {
    font-family: 'Open Sans';
    width: 100%;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;

    @media (max-width: $mobile) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.primary-btn {
    display: inline-block;
    flex-wrap: wrap;
    color: #ffffff;
    text-align: center;
    font-size: 1.063rem;
    padding: 14px 16px;
    margin: 0 auto;
    background-color: $c-primary-900;
    border-radius: 8px;
    outline: none;
    border: 3px solid transparent;
    box-shadow: 0px 4px 4px #0000005c;
    margin: 12px 24px;
    font-weight: 550;
    cursor: pointer;
    user-select: none;
    transition: border 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;

    &:hover {
        border: 3px solid $c-primary-900;
        color: $c-primary-900;
        background-color: #ffffff;
    }
}

h2 {
    line-height: 3.5rem;
    font-size: 2.375rem;
    margin-bottom: 22px;
    padding: 7px;
    letter-spacing: -0.00375em;
}

h3 {
    line-height: 2.625rem;
    font-size: 2.125rem;
    margin-bottom: 22px;
    padding: 7px;
    letter-spacing: -0.00125em;
}

h4 {
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 22px;
}

h5 {
    font-size: 1.313rem;
    line-height: 1.813;
    margin-bottom: 22px;
}

.bolder {
    font-weight: 550;
}

.highlight {
    color: $c-primary-900;
}

.white {
    color: #ffffff;

    &-bg {
        background-color: #ffffff;
    }
}

.margin-top {
    margin-top: 22px;

    &--big {
        margin-top: 36px;
    }
}

@media (min-width: $tablet) {
    h2 {
        line-height: 3.5rem;
        font-size: 3rem;
        letter-spacing: -0.004375em;
    }

    h3 {
        line-height: 3rem;
        font-size: 2.5rem;
        margin-bottom: 22px;
        padding: 7px;
        letter-spacing: -0.00125em;
    }
}

p,
li,
.text {
    line-height: 1.688rem;
    font-size: 1.188rem;
}

p {
    padding: 0 4px;
    @media (min-width: $mobile) {
        margin-bottom: 22px;
    }
}
