$c-primary-900: #d9561c;
$c-primary-800: #e46d1f;
$c-primary-700: #eb7c21;
$c-primary-600: #f28b24;
$c-primary-500: #f69626;
$c-primary-400: #f8a539;
$c-primary-300: #f9b558;
$c-primary-200: #fbca86;
$c-primary-100: #fcdfb5;
$c-primary-050: #fef3e1;

$c-secondary-900: #0e242e;
$c-secondary-800: #1e3845;
$c-secondary-700: #2b4a59;
$c-secondary-600: #395d6f;
$c-secondary-500: #446b7f;
$c-secondary-400: #5f8092;
$c-secondary-300: #7996a6;
$c-secondary-200: #9db4c1;
$c-secondary-100: #c0d3dc;
$c-secondary-050: #e2edf6;

$c-gray: #efeeeb;
$c-light-gray: #f9f8f8;
$c-input-bg: #eaeae9;

$c-error: #cc0000;
$c-valid: #008df2;

$mobile: 767px;
$tablet: 1200px;
$laptop: 1500px;
$desktop: 1920px;
