.footer {
    background-color: $c-secondary-900;
    width: 100%;
    padding: 36px 0;

    &__container {
        &__row {
            padding-bottom: 24px;
            font-size: 1.313rem;
            display: flex;
            align-items: center;
            color: #ffffff;

            span,
            a {
                padding-left: 10px;
                font-weight: 400;
                text-decoration: none;
                color: #ffffff;
                line-height: 1.813rem;
            }
        }

        &__socials {
            display: flex;
            align-items: center;
            padding-top: 24px;

            a {
                padding-right: 24px;
            }
        }

        &__logo {
            width: 175.5px;
            height: 56px;
            display: block;
            padding-bottom: 46px;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}
