.about-us {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 36px;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 40px 0;
    }
}
